<h1 id="Title"> 4.3 Fibonacci</h1>
<div id="aufgabe">

  <p-panel id="first" header="Schreiben Sie im Browser die Fibonacci-Funktion in JavaScript und geben Sie die ersten 2000 Fibonacci-Zahlen 0,1,1,2,3,5,8,13,...
    auf der Konsole mit console.log() aus.">
    <p-card>
      <p-image src="assets/Exercices/ex431.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>

  </p-panel>

  <p-panel id="second" header="Was ist die größte Fibonacci-Zahl, die sich noch als Integer sicher speichern lässt (Number.MAX_SAFE_INTEGER)?
   Die wievielte Fibonacci-Zahl in der Fibonacci-Folge ist das?">

    <b>MAX_SAFE_INTEGER:</b> <br>
    927372692193079200000

  </p-panel>
  <p-panel id="third" header="Was ist die größte Fibonacci-Zahl, die sich noch als Number speichern lässt (Number.MAX_VALUE)?
   Die wievielte Fibonacci-Zahl in der Fibonacci-Folge ist das (d.h. welche Stelle in der Fibonacci-Folge)?">

    <b>MAX_VALUE:</b> <br>
    1.3069892237633987e+308

  </p-panel>
  <p-panel id="fourth" header="Wechseln Sie zu BigInt, um alle 2000 Fibonacci-Zahlen korrekt anzuzeigen.
   Geben Sie hier HTML- und JavaScript-Code zusammen ein:">

    <p-card>
      <p-image src="assets/Exercices/ex432.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>

  </p-panel>
  <p-panel id="fifth" header="Optional: Was ist die größte Fibonacci-Zahl, die Sie mit BigInt korrekt berechnet haben?
     An welcher Stelle in der Fibonacci-Folge steht diese?">

    <b>Biggest_Fibonacci:</b><br>
    <b>Größte Zahl:</b> 8944394323791464n <br>
    <b>Fibonacci-Folge:</b> 78

  </p-panel>
</div>
