<h1 id="Title">Aufgabe 1.2. HTTP</h1>
<div id="aufgabe">

  <p-panel id="first" header="Sie bekommen im Browser den HTTP Status Code 200. Was bedeutet das?">
    HTTP-Statuscode 200 OK gibt an, dass eine Anfrage erfolgreich verlaufen ist.
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="second" header="Sie bekommen im Browser den HTTP Status Code 301. Was hat das zu bedeuten?">
    HTTP Status Code 301 bedeutet, dass der URI der angeforderten Ressource geändert wurde.
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="third"
    header="Sie bekommen im Browser den HTTP Status Code 400. Was hat das zu bedeuten? Was können Sie dagegen tun? ">
    HTTP Status Code 400 bedeutet, dass der Server die Anfrage aufgrund einer ungültigen Syntax nicht verstehen konnte.
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="forth"
    header="Sie bekommen im Browser den HTTP Status Code 403. Was hat das zu bedeuten? Was können Sie dagegen tun? ">
    Der Client hat keine Zugriffsrechte auf den Inhalt.
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="fifth" header="In einer Webanwendung benötigen Sie eine OPTIONS-Anfrage, die die Optionen des Servers vor dem eigentlichen
    Zugriff erfragen soll. Aus Performanzgründen soll die Abfrage jedoch cacheable sein. Wie könnten Sie dafür eine
    Lösung angehen? ">
    Die Abfrage belebig oft stellen um die gleiche Ergebnisse zu bekommen oder Man kann auch die Access-Control-Max-Age
    benutzen,somit maximale Anzahl von Sekunden, für die die Ergebnisse zwischengespeichert werden können.
  </p-panel>

</div>
