<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-dark bg-secondary fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">


      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
        mdbCollapse
        #centered="mdbCollapse"
      >
        <!-- Left links -->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="Home" routerLinkActive="active">
              <i class="pi pi-home"></i>
              Home
            </a>

          </li>

          <li class="nav-item">
            <a class="nav-link " routerLink="Exercices" routerLinkActive="active">
              <i class="pi pi-book"></i>
              Exercices
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="About" routerLinkActive="active">
              <i class="pi pi-id-card"></i>
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/yahya-hachlaf/we-angular" target="_blank">
              <i class="pi pi-github"></i>
              Github
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://git.inf.h-brs.de/yhachl2s/web-engineering-uebungen" target="_blank">
              <i class="fab fa-gitlab"></i>
              GitLab
            </a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
