.tbl {
  width: 80%;
  margin-left: 10%;
}

.right {
  text-align: left;
}

.left {
  text-align: right;
}

td {
  height: 50px;
}

.Table_div {
  left: 5%;
  top: 11%;
  width: 90%;
  height: 100%;
}

.radio-button {
  margin: 5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.check{
  margin: 12px 0;
}
