

<h1 id="Title">3.2 Responsiv mit Grid Mobile-First</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Implementieren Sie dann das gleiche responsive Webdesign wie in Aufgabe 3.1 allerdings mit Grid und der Mobile-First-Strategie! Vermeiden Sie diesmal außerdem das Erscheinen von Scrollbars.">
    <p-card>
      <header>
        <nav>
          <ul>
            <li><a href="#">The book series</a></li>
            <li><a href="#">Testemonials</a></li>
            <li><a href="#">The Author</a></li>
            <li><a href="#">Free resources</a></li>
          </ul>
        </nav>
      </header>

      <h1 class="title">You Dont know JavaScript</h1>

      <div class="content">
        <img src="https://kaul.inf.h-brs.de/we/assets/img/landing-img.png"
          alt="img" />
        <div class="paragraph">
          Dont just drift through JavaScript <br> <br> <br>
          Understand how JavaScript works <br> <br> <br> Start
          your journey through the bumpy side of JavaScript <br> <br>
          <br>
          <button class="click">ORDER YOUR COPY NOW</button>
        </div>
      </div>



      <footer>
        <p>The first ebook in the book series is absolutely free.</p>
        <button>FIND OUT MORE ABOUT THIS OFFER</button>
      </footer>
    </p-card>
  </p-panel>

</div>

