<h1 id="Title">9.2. Statistik-Balkendiagramm in SVG</h1>
<div id="aufgabe">

  <p-panel id="first" header="Implementieren Sie ein eigenes Balkendiagramm mit HTML, Inline SVG, CSS und JavaScript.
   Geben Sie die Daten für das Balkendiagramm im JSON-Format vor. Nehmen Sie als Beispieldaten die COVID-19: Fallzahlen in Deutschland.
   Animieren Sie die Grafik (siehe z.B. Highchart Bar Chart).">


    <p-card>
      <p-image src="assets/Exercices/ex92.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>

</div>
