<h1 id="Title">5.3. TopSort als WebApp</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Schreiben Sie eine Webseite, in die man eine Zeichenkette mit beliebigen Buchstaben,
   Zahlen und Sonderzeichen eingeben kann, die beliebig geschachtelte Klammern [...], (...) und {...} enthält,
   so dass sofort geprüft wird, ob alle Klammerpaare korrekt geschachtelt sind.
   Das Eingabefeld der Zeichenkette soll rot gefärbt werden, wenn es ein Klammerpaar gibt, das falsch geschachtelt ist.">
    <p-card>
      <p-image src="assets/Exercices/ex611.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>
  <p-panel id="second" header="Bonus: Verallgemeinern Sie Ihren Algorithmus, so dass man Klammerpaare als Parameter frei definieren kann.
     Es müssen also nicht [...], (...) und {...} sein, sondern es können auch andere Zeichen gewählt werden.">
    <p-card>
      <p-image src="assets/Exercices/ex612.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>

</div>
