<h1 id="Title">11.3: WWW-Navigator zum Content-Editor ausbauen</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Bauen Sie Ihren WWW-Navigator zum Content-Editor aus, mit dem Sie weitere Inhalte hinzu fügen können,
     die persistent auf dem Server mittels PHP gespeichert werden. Schreiben Sie Ihre PHP-Scripte so, dass es zu keinen
      Nebenläufigkeitsartefakten kommen kann, egal wie viele Nutzer gleichzeitig editieren und speichern.

    Speichern Sie die Inhalte Ihres WWW-Navigators auf dem Server www2.inf.h-brs.de. Erweitern Sie Ihren WWW-Navigator um eine Edit-Funktionalität,
     so dass Inhalte editiert und ergänzt werden können. Vermeiden Sie die Lost Update-Anomalie.

    Schützen Sie Ihre Inhalte mit einem Login.">

    <p-card header="Geben Sie alle Ihre PHP-Skripte hier an:"
      [style]="{'text-align': 'center', 'margin-top': '10px'}">
      <p-image class="example" src="assets/Exercices/ex111.png" alt="Image" width="600" [preview]="true"></p-image>
    </p-card>

    <p-card header="Geben Sie alle Ihre Ajax- oder Fetch-Skripte, falls zusätzlich zum PHP-Skript vorhanden, hier an:"
      [style]="{'text-align': 'center', 'margin-top': '10px'}">
      <p-image class="example" src="assets/Exercices/ex111.png" alt="Image" width="600" [preview]="true"></p-image>
    </p-card>

  </p-panel>

</div>
