<h1 id="Title">11.2: Login mit PHP</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Schreiben Sie eine sichere PHP-Lösung für Login, das die persistierten Registrierungsdaten aus der letzten Aufgabe nutzt.">

    <p-card header="Geben Sie alle Ihre PHP-Skripte hier an:" [style]="{'text-align': 'center', 'margin-top': '10px'}">
      <p-image class="example" src="assets/Exercices/ex111.png" alt="Image" width="600" [preview]="true"></p-image>
    </p-card>

    <p-card header="Geben Sie Ihren Client-Code (HTML, CSS, Javascript), falls zusätzlich zum PHP-Skript vorhanden, hier an:" [style]="{'text-align': 'center', 'margin-top': '10px'}">
      <p-image class="example" src="assets/Exercices/ex111.png" alt="Image" width="600" [preview]="true"></p-image>
    </p-card>

  </p-panel>

</div>
