<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('../../assets/Exercices/homeImage.jpeg');
      height: 100vh;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <p class="mb-4" style="font-size: 20px;width: 50%;margin-left: 25%; line-height: normal;"> I'm a Computer Science Student at the University Bonn-Rhein-Sieg and i'm working also as a Developer at Bechtle
            Company in AV360 Departement.
            For more informations about the Project please visit my github.</p>
        </div>
      </div>
    </div>
  </div>
