<h1 id="Title">1.3. HTML-Literatur lesen und Fragen beantworten</h1>
<div id="aufgabe">

  <p-panel id="first" header="Was ist HTML?">
    HTML ist HyperText Markup Sprache für Webseiten.
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="second" header="Wie kann man eine geschachtelte geordnete Liste der Schachtelungstiefe 3 erzeugen?">
    <p-image src="assets/Exercices/ex132.png" alt="Image" width="300" [preview]="true"></p-image>
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="third" header="Wie ist eine HTML-Tabelle aufgebaut?">
    <p-image src="assets/Exercices/ex133.png" alt="Image" width="300" [preview]="true"></p-image>
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="forth" header="Welche Konventionen sollte man bei Pfaden und Dateinamen beachten?">
    Es gibt spezielle Zeichen, die nicht verwendet werden dürfen, weil sie im Dateisystem eine Bedeutung haben. Dazu
    gehören der Doppelpunkt und die Schrägstriche / und \ als Trennzeichen für Laufwerksbuchstaben und Ordner, und die
    Zeichen * und ? als Jokerzeichen in der Dateisuche.
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="fifth" header="Wie baut man in HTML ein Menü?">
    <p-image src="assets/Exercices/ex135.png" alt="Image" width="400" [preview]="true"></p-image>
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="sixth" header="Welche Attribute sollte man bei Bildern wie verwenden?">
    Das <b>src-Attribut</b>  gibt den Pfad (URL) zum Bild an. Das <b>alt-Attribut</b> sollte das Bild beschreiben. <b>style-, width- und
      height-Attribut</b>  , um die Breite und Höhe eines Bildes anzugeben.
  </p-panel>

</div>
