<h1 id="Title">11.1. Registrierung mit PHP</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Erstellen Sie mit PHP 5 auf www2.inf.h-brs.de ein Registrierungsformular.
   Speichern Sie die eingegebenen Daten persistent in einer Datei auf www2.inf.h-brs.de. Schreiben Sie Ihre PHP-Scripte so,
    dass es zu keinen Nebenläufigkeitsartefakten (z.B. Lost Update) kommen kann, egal wie viele Nutzer sich gleichzeitig registrieren.">

    <p-card header="Geben Sie hier Ihre vollständige Lösung für das Registrierungsformular (ggfs. mit allen Dateien hintereinander) ein:"
      [style]="{'text-align': 'center', 'margin-top': '10px'}">
      <p-image class="example" src="assets/Exercices/ex111.png" alt="Image" width="600" [preview]="true"></p-image>
    </p-card>

  </p-panel>

</div>
