<h1 id="Title">5.1. Performanzmessungen von DOM-Operationen</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Implementieren Sie Performanzmessungen zum Vergleich von innerHTML, innerText, textContent und outerHTML selbstständig in JavaScript durch Nutzung der DOM API.
     Geben Sie die Messergebnisse als Tabelle aus.
     Verwenden Sie die eingebauten Zeitmess-Funktionen performance.now (), siehe auch When-milliseconds-are-not-enough-performance-now.
     Suchen Sie eine möglichst kurze und elegante Lösung.

    Dabei ist zu beachten, dass Browser, um potenzielle Sicherheitsbedrohungen wie Spectre oder Meltdown zu minimieren, den zurückgegebenen Wert normalerweise um einen bestimmten Betrag runden. Dies führt zu einer gewissen Ungenauigkeit.
    Beispielsweise rundet Firefox die zurückgegebene Zeit in Schritten von 1 Millisekunde.
    Diese Zwangsrundung kann man jedoch wiederum abschalten mittels Firefox setting privacy.reduceTimerPrecision,
    siehe How to get microsecond timings in JavaScript since Spectre and Meltdown.">
    <p-card>
      <p-image src="assets/Exercices/ex51.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>

</div>
