<h1 id="Title">10.2. Fehler finden mit TypeScript</h1>
<div id="aufgabe">

  <p-panel id="first" header="Gegeben sei folgendes fehlerbehaftete JavaScript-Programm.
   Ergänzen Sie dieses um möglichst viele Typisierungen und übersetzen Sie es in ein TypeScript-Programm.">

    <p-card [style]="{'text-align': 'center'}">
      <p-image class="example" src="assets/Exercices/ex101_example.png" alt="Image" width="300" [preview]="true">
      </p-image>
    </p-card>

    <p-card header="Welche Fehler meldet TypeScript?" [style]="{'text-align': 'center', 'margin-top': '10px'}">
      Y ist nicht definiert so zu sagen, also die muss explizit als var y deklarieren sein.
      die Variablen X und Y müssen getrennt werden und alleine definiert werden:
      var x = 1;
      var y = 1;
    </p-card>

    <p-card header="Geben Sie hier Ihren TypeScript-Code ein:" [style]="{'text-align': 'center', 'margin-top': '10px'}">
      <p-image class="example" src="assets/Exercices/ex1012.png" alt="Image" width="300" [preview]="true"></p-image>
    </p-card>



    <p-card header="Geben Sie weitere Beispiele an, wie TypeScript bei der Fehlersuche helfen kann:"
      [style]="{'text-align': 'center', 'margin-top': '10px'}">
      Typescript hilf sehr bei der Fehlersuche beim Erkennen von Fehlern im Code, ohne ihn auszuführen und das wird als
      statische Überprüfung bezeichnet. Die Bestimmung, was ein Fehler ist und was nicht auf den Arten von Werten
      basiert,
      mit denen betrieben wird, wird als statische Typprüfung bezeichnet.
    </p-card>
  </p-panel>

</div>
