<h1 id="Title">1.4. HTML Wireframe</h1>
<div id="aufgabe">

  <p-panel id="first" header="Gegeben ist folgendes HTML-Wireframe:">
    <div class="panel-heading">
      <p><span>Gegeben ist folgendes HTML-Wireframe:</span><br><a target="_blank" href="https://kaul.inf.h-brs.de/we/assets/img/wireframe01.jpg"
          border="0"><img alt="Wireframe 01" src="https://kaul.inf.h-brs.de/we/assets/img/wireframe01.jpg" width="288" height="384"
            border="0"></a><br></p>
      <p><span> Mit welchem HTML-Code (ohne CSS, nur mit HTML-Tags) kann man diesen Wireframe exakt
          nachbilden?</span><br><span> Die beiden Bilder finden Sie z.B. unter </span><a target="_blank"
          href="./assets/img/tbl.jpg">TBL</a><span> und </span><a target="_blank"
          href="./assets/img/eich.jpg">Eich</a><span>.</span><br><span> Geben Sie Ihren HTML-Quellcode in dieses
          Textfeld ein: </span></p>
    </div>
    <p-divider layout="vertical" ></p-divider>
    <div class="website">
      <h1>Übung1.2: Inventors of the Web</h1>
      <ul>
        <li> <b><u><mark> Tim Berners-Lee:</mark></u></b> WWW,HTTP,HTML,URI </li>
        <li><b>Hakom lie and Bert Bos:</b>CSS</li>
        <li><b>Brendan Eich:</b>JavaScript</li>
      </ul>
      <hr>
      <h2>Inventors of the WWW</h2>

      <table cellpadding="3">
        <thead>
          <th colspan="4"> Inventors of the Web </th>
        </thead>
        <tr>
          <th>WWW</th>
          <th>HTML</th>
          <th>CSS</th>
          <th>JavaScript</th>

        </tr>
        <tr>
          <td><b>Tim Berners-Lee</b></td>
          <td><b>Tim Berners-Lee</b></td>
          <td>Hakom lie and Bert Bos</td>
          <td>Brendan Eich </td>

        </tr>
      </table>
      <hr>
      <table>
        <tr>
          <th colspan="2"><u>Inventors of the WWW</u> </th>
        </tr>

        <tr>
          <th>HTML</th>
          <th>JavaScript </th>
        </tr>
        <tr>
          <td><img src="https://kaul.inf.h-brs.de/we/assets/img/tbl.jpg"></td>
          <td><img src="https://kaul.inf.h-brs.de/we/assets/img/eich.jpg"></td>
        </tr>
        <tr>
          <td>Tim Berners-Lee</td>
          <td>Brendan Eich </td>
        </tr>
      </table>
    </div>

  </p-panel>
</div>
