<h1 id="Title">10.1. Static classes in TypeScript</h1>
<div id="aufgabe">

  <p-panel id="first" header="Gibt es in TypeScript statische Klassen? Erläutern Sie den Unterschied
   von TypeScript zu anderen objekt-orientierten, statisch typisierten Programmiersprachen wie Java und C#.">


    <p-card>
      Nein, weil Typscript keine static class Konstrukt wie C# und Java haben.
      Diese Konstrukte existieren nur, weil diese Sprachen zwingen, dass sich alle Daten und Funktionen innerhalb einer
      Klasse befinden; da diese Einschränkung in TypeScript nicht existiert, sind sie nicht erforderlich. Eine Klasse
      mit nur einer einzigen Instanz wird in der Regel nur als normales Objekt in JavaScript/TypeScript dargestellt.
    </p-card>
  </p-panel>

</div>
