<h1 id="Title">6.4. Proxy</h1>
<div id="aufgabe">

  <p-panel id="first" header="Erweitern Sie Ihre Vorrang-Klasse um Logging, indem Sie ein Proxy einfügen.
   Lassen Sie sich vom Logger bei jedem Schritt ausgeben, wie viele der Vorrangrelationen noch übrig bleiben.
    Verwenden Sie so weit wie möglich High-Level-Methoden wie Object.keys und High-Level-Datenstrukturen wie
    Map und Set und deren Methoden, anstatt mühsam von Hand zu iterieren und zu zählen.">
    <h3>Geben Sie hier Ihren ECMAScript-Code inkl. Tests ein. Verwenden Sie für Ihre Tests die Funktion console.assert.</h3>
    <p-card>
      <p-image src="assets/Exercices/ex641.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>




</div>
