<h1 id="Title">6.5. DeepCopy </h1>
<div id="aufgabe">

  <p-panel id="first" header="Schreiben Sie eine rekursive Funktion deepCopy( struct ) als ES6-Ausdruck, so dass beliebig geschachtelte Arrays und Objekte struct tiefenkopiert werden können. Verwenden Sie zu diesem Zweck den konditionalen ternären Operator, Array.map(), Object.fromEntries() und Object.entries().
   Verwenden Sie dabei nur Arrow Functions und Ausdrücke, keine Anweisungen, keine Blöcke.
    Verwenden Sie nicht die JSON-Methoden.">
    <h3>Geben Sie hier Ihren ECMAScript-Code inkl. Tests ein. Verwenden Sie für Ihre Tests die Funktion console.assert.</h3>
    <p-card>
      <p-image src="assets/Exercices/ex651.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>




</div>
