<h1 id="Title">7.2. Textanalyse mit filter-map-reduce</h1>
<div id="aufgabe">

  <p-panel id="first" header="Schreiben Sie in JavaScript eine Textanalyse. Ermitteln Sie die häufigsten Begriffe im Text Plagiatsresolution.
  Filtern Sie dabei alle Stoppworte und HTML-Tags. Reduzieren Sie das Ergebnis auf die 3 häufigsten Begriffe.

  Hinweis: Eine größere Stoppwort-Liste finden Sie auch unter github.com/stopwords-iso/stopwords-de.">

    <p-card>
      <p-image src="assets/Exercices/ex721.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>

</div>
