<h1 id="Title">4.1. Funktionen</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Schreiben Sie eine Funktion identity(), die ein Argument als Parameter entgegen nimmt und dieses als Ergebnis zurück gibt.">
    <p-card>
      <p-image src="assets/Exercices/ex411.png" alt="Image" width="300" [preview]="true"></p-image>
    </p-card>
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="second" header="Schreiben Sie eine Funktion identity_function(), die ein Argument als
    Parameter entgegen nimmt und eine Funktion zurück gibt, die dieses Argument zurück gibt.">
    <p-card>
      <p-image src="assets/Exercices/ex412.png" alt="Image" width="300" [preview]="true"></p-image>
    </p-card>
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="third" header="Schreiben Sie zwei binäre Funktionen add und mul, die Summe und Produkt berechnen.">
    <p-card>
      <p-image src="assets/Exercices/ex413.png" alt="Image" width="300" [preview]="true"></p-image>
    </p-card>
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="fourth" header="Schreiben Sie eine Addier-Funktion addf(), so dass addf(x)(y) genau x + y zurück gibt.
     (Es haben also zwei Funktionsaufrufe zu erfolgen. addf(x) liefert eine Funktion, die auf y angewandt wird.)">
    <p-card>
      <p-image src="assets/Exercices/ex414.png" alt="Image" width="300" [preview]="true"></p-image>
    </p-card>
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="fifth"
    header="Schreiben Sie eine Funktion applyf(), die aus einer binären Funktion wie add(x,y) eine Funktion addfberechnet,
     die mit zwei Aufrufen das gleiche Ergebnis liefert, z.B. addf = applyf(add); addf(x)(y) soll add(x,y) liefern.
      Entsprechend applyf(mul)(5)(6) soll 30 liefern, wenn mul die binäre Multiplikation ist.">
    <p-card>
      <p-image src="assets/Exercices/ex415.png" alt="Image" width="300" [preview]="true"></p-image>
    </p-card>
  </p-panel>

</div>
