<h1 id="Title">4.4. Topsort</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Schreiben Sie in JavaScript eine Funktion topsort(), die eine topologische Sortierung berechnet.
     Topologische Sortierung ist eine Form von Sortierung. Sie kennen die Funktion Array.prototype.sort() und wissen,
      was als Ergebnis erwartet wird, nämlich eine sortiere Liste. Genauso ist das hier.
       Die Funktion topsort() soll eine sortierte Liste ausgeben, die keine der eingegebenen Abhängigkeiten verletzt.">
    <p-card>
      <p-image src="assets/Exercices/ex441.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>
  <p-panel id="second"
    header="Testen Sie Ihren JavaScript-Code. Verwenden Sie für Ihre Tests die Funktion console.assert. Geben Sie hier Ihre Tests ein:">
    <p-card>
      <p-image src="assets/Exercices/ex442.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>


</div>

