<h1 id="Title">2.2. CSS Positionierung</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Schauen Sie sich folgendes Video an und bauen Sie das dynamische Verhalten exakt nach (nur mit HTML und CSS, ohne JavaScript):">
    <img style="max-width:800px;width:100%" height="auto" src="https://img.youtube.com/vi/PE3POxjDspo/0.jpg"
      style="cursor: pointer;" title="video">

    <div style="margin-top: 30px;" class="Seite_html">

      <h1 class="title">Erste Uberschrift</h1>
      <div class="parg">Le français est parlé, en 2018, sur tous les continents par environ 300 millions de personnes5,2 :
        235
        millions l'emploient quotidiennement,
        et 90 millions3 en sont des locuteurs natifs. En 2018, 80 millions d'élèves et étudiants s'instruisent en
        français dans le monde6. Selon l'Organisation
        internationale de la francophonie (OIF), il pourrait y avoir 700 millions de francophones sur Terre en 20507.
      </div>

      <div class="parg"> Dans le monde, 29 États ont le français comme langue officielle. C'est une des six langues
        officielles ainsi
        qu'une des deux langues de travail

        France et Belgique
      </div>


      <h2 class="title">Zweite Uberschrift</h2>
      <div class="parg">Le français est parlé, en 2018, sur tous les continents par environ 300 millions de personnes5,2 :
        235
        millions l'emploient quotidiennement,
        et 90 millions3 en sont des locuteurs natifs. En 2018, 80 millions d'élèves et étudiants s'instruisent en
        français dans le monde6. Selon l'Organisation
        internationale de la francophonie (OIF), il pourrait y avoir 700 millions de francophones sur Terre en 20507.
      </div>

      <div class="parg"> Dans le monde, 29 États ont le français comme langue officielle. C'est une des six langues
        officielles ainsi
        qu'une des deux langues de travail
        de rlées originellement dans la partie septentrionale du domaine gallo-roman, sur le
        territoire des actuelles Suisse,
        France et Belgique
      </div>



      <h3 class="title">Dritte Uberschrift</h3>

      <div class="parg"> Dans le monde, 29 États ont le français comme langue officielle. C'est une des six langues
        officielles ainsi
        qu'une des deux langues de travail
        de l'Oïl,
        un groupe de langues romanes parlées originellement dans la partie septentrionale du domaine gallo-roman, sur le
        territoire des actuelles Suisse,
        France et Belgique
      </div>
    </div>
  </p-panel>

  <p-panel [style]="{'margin-top': '10px'}" id="second"
    header="Schauen Sie sich folgendes Video an und bauen Sie das dynamische Verhalten exakt nach (nur mit HTML und CSS, ohne JavaScript):">

    <p-card>
      <h1> Übung 2.2</h1>
      <input id="myInput" type="checkbox" name="myInput"> hide and show via checkbox
      <label for="myInput"></label>
    </p-card>
  </p-panel>

</div>
