<h1 id="Title">3.2 Responsiv mit Grid Mobile-First</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Implementieren Sie dann das gleiche responsive Webdesign wie in Aufgabe 3.1 allerdings mit Grid und der Mobile-First-Strategie! Vermeiden Sie diesmal außerdem das Erscheinen von Scrollbars.">
    <p-card>
      <header class="hg__header">Header</header>
      <main class="hg__main">Main</main>
      <aside class="hg__left">left-sidebar</aside>
      <aside class="hg__right">right-sidebar</aside>
    </p-card>
  </p-panel>

</div>
