<h1 id="Title">10.3. TypeScript auf Deno</h1>
<div id="aufgabe">

  <p-panel id="first" header="Auf Deno ist TypeScript ohne Übersetzung direkt ablauffähig. Deno ist also die Runtime Engine für TypeScript.

  Schreiben Sie in TypeScript möglichst umfangreich statisch typisiert ein auf Deno ablauffähiges Programm server.ts,
  das Sie mit deno run --allow-net server.ts starten können, das die COVID-19-Fallzahlen in Deutschland einliest, Minimum, Maximum, Durchschnitt
  und Summe berechnet und diese auf einer Webseite ausgibt.

  Ein Beispiel-Programm zu server.ts finden Sie im Deno-Manual unter Making an HTTP request">

    <p-card header="Geben Sie hier Ihr Programm server.ts ein:" [style]="{'text-align': 'center', 'margin-top': '10px'}">
      <p-image class="example" src="assets/Exercices/ex1013.png" alt="Image" width="600" [preview]="true"></p-image>
    </p-card>

  </p-panel>

</div>
