<h1 id="Title">5.3. TopSort als WebApp</h1>
<div id="aufgabe">

  <p-panel id="first" header="Schreiben Sie eine Web-Oberfläche, in der man beliebige Beziehungen (Vorrang-Relationen) eingeben kann,
   für die dann die topologische Sortierung per Knopfdruck auf der Webseite ausgegeben wird.
  Für die Eingabe können Sie HTML5-Eingabefelder oder contentEditable verwenden.">
    <p-card>
      <p-image src="assets/Exercices/ex521.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>




</div>
