<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('../../assets/Exercices/homeImage.jpeg');
      height: 100vh;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3" style="font-size: 50px">Welcome to my Website</h1>
          <p class="mb-4" style="font-size: 20px;margin-top: 50px;">This Website serves as a final Project for the module Introduction to Web Engineering by <a href="https://www.h-brs.de/en/inf/prof-dr-manfred-kaul" target="_blank" style="color: #DFD3F2">Prof. Dr Manfred Kaul</a> </p>
        </div>
      </div>
    </div>
  </div>
