#Title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#aufgabe{
  margin: 50px;
}

.svg_img{
  transition: all 1s;
  transform-origin: 50% 50%;
}

.svg_img:hover{
  transform: scale(1.2);
}

::ng-deep{
  .p-image-preview-container>img {
  height: 100%;
  width: 100%;
}
}
