<h1 id="Title">9.1. SVG Grafik von Hand erstellen</h1>
<div id="aufgabe">

  <p-panel id="first" header="Codieren Sie eine HTML-Datei mit Inline SVG, so dass sich folgendes Aussehen ergibt:.">
    <p-image src="https://kaul.inf.h-brs.de/we/assets/img/use_the_platform.png" alt="Image" width="200" [preview]="true"></p-image>
    <p>Fügen Sie als Hover-Effekt eine CSS-Animation hinzu, die die Größe der SVG-Grafik verdoppelt, wenn man mit dem Cursor über die Grafik geht.</p>
    <p-card>
      <svg class="svg_img" empty-data="" width="300" height="300">
        <rect empty-data="" width="300" height="300" style="fill: rgb(184, 101, 101);"></rect>

        <text empty-data="" x="25" y="70" style="fill:White;font-weight:400;font-size:50px;font-family:Arial"> Use
        </text>
        <line empty-data="" x1="30" y1="85" x2="275" y2="85" style="stroke:White;stroke-width:4"></line>

        <text empty-data="" x="25" y="165" style="fill:White;font-weight:400;font-size:50px;font-family:Arial"> The
        </text>
        <line empty-data="" x1="30" y1="180" x2="275" y2="180" style="stroke:White;stroke-width:4"></line>

        <text empty-data="" x="25" y="265" style="fill:White;font-weight:400;font-size:50px;font-family:Arial"> Platform
        </text>
        <line empty-data="" x1="30" y1="280" x2="275" y2="280" style="stroke:White;stroke-width:4"></line>
    </svg>
    </p-card>
    <p-card>
      <p-image src="assets/Exercices/ex91.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>

</div>
