#Title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: aquamarine;
}

#aufgabe{
  margin: 50px;
}

.svg_img{
  transition: all 1s;
  transform-origin: 50% 50%;
}

.svg_img:hover{
  transform: scale(1.2);
}

