<h1 id="Title">5.2. Rednerliste mit Zeitmessung</h1>
<div id="aufgabe">

  <p-panel id="first" header="Implementieren Sie die interaktive Anwendung Rednerliste mit Zeitmessung selbstständig in JavaScript
     durch Nutzung der DOM API und der Timer-Funktionen. Neue Redner sollen auf Knopfdruck hinzugefügt werden können.
      Deren Uhr wird dann sofort automatisch gestartet und alle anderen Uhren angehalten. Bei jedem Redner soll die individuelle,
       gemessene Redezeit sekundengenau angezeigt werden. Für jeden Redner soll es einen eigenen Start-/Stopp-Button geben.
       Es soll immer nur eine Uhr laufen. Angezeigt werden sollen die bisherigen Summenzeiten aller Redebeiträge der betreffenden Person.
        Suchen Sie eine möglichst kurze und elegante Lösung. Achten Sie gleichzeitig auf gute Usability:
        z.B. wenn die Eingabe mit einem Return beendet wird, soll der Button-Click nicht mehr erforderlich sein, usw.">
    <p-card>
      <p-image src="assets/Exercices/ex51.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>
  <p-panel [style]="{'margin-top': '10px'}" id="second"
    header="Fügen Sie Ihren JavaScript-Quelltext aus der separaten Datei in das folgende Textarea ein:">
    <p-card>
      <p-image src="assets/Exercices/ex522.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>


</div>

