<h1 id="Title">5.3. TopSort als WebApp</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Schreiben Sie eine ES6-Klasse Vorrang für Vorrangrelationen, z.B.
    new Vorrang([ ['schlafen', 'studieren'], ['essen', 'studieren'], ['studieren', 'prüfen'] ]).
    Wählen Sie eine Implementierung, die universell gültig, also nicht nur für dieses Beispiel gilt. (
      Überlegen Sie sich, über welche Properties und Methoden eine solche Klasse verfügen sollte und wie TopSort hier hineinspielt.
      Topologische Iterierbarkeit und topologischer Generator sind jedoch Gegenstand der nächsten Übungen weiter unten auf diesem
      Übungsblatt und sollten für die folgenden Aufgaben aufgespart werden.)
      Stellen Sie bei Ihrer Klasse die topologische Iterierbarkeit her (zunächst über das Iterationsprotokoll, ohne Generator, ohne yield).
      Zum Beispiel soll dadurch folgende for ... of loop möglich werden, mit der die Elemente in topologischer Sortierung durchlaufen werden:">
    <p-card>
      <p-image src="assets/Exercices/ex621.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>
  <p-panel [style]="{'margin-top': '10px'}" id="second" header="Betten Sie Ihren ECMAScript-Code in eine Webseite ein, so dass man die Vorrangrelation dort eingeben kann.
   Geben Sie hier die HTML-Seite an:">
    <p-card>
      <p-image src="assets/Exercices/ex622.png" alt="Image" width="700" [preview]="true"></p-image>
    </p-card>
  </p-panel>




</div>
