<h1 id="Title">3.1 Responsiv mit Flexbox Desktop-First</h1>
<div id="aufgabe">

  <p-panel id="first"
    header="Implementieren Sie dann ausschließlich mit HTML und CSS Flexbox folgendes responsive Webdesign nach der Desktop-First-Strategie!">
    <p-card>
      <div class="container">
        <header class="header column"> </header>

        <main class="left-sidebar column"></main>
        
        <nav class="main column"></nav>

        <aside class="right-sidebar column"></aside>
      </div>
    </p-card>
  </p-panel>

</div>
